hr {
  border-style: dashed none none;
  border-width: 1px;

}

.numberInfos {
  width: 100%
}

p {
  margin: 5px auto;
}

.container-fluid {
  padding: 3%;
}

.imgTitle {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
