hr {
  border-style: dashed none none;
  border-width: 1px;

}

h5 {
  text-align: center;
}

.numberInfos {
  width: 100%
}

.resource {
  margin: 5px auto;
}

.caption {
  margin: 1px auto;
}

.container-fluid {
  padding: 3%;
}

.imgTitle {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.chart {
  width: 900px;
  height: 100%;
}
