hr {
  border-style: dashed none none;
  border-width: 1px;

}

h5 {
  text-align: center;
}

.resource {
  margin: 5px auto;
}

.caption {
  margin: 1px auto;
}

.container-fluid {
  padding: 3%;
}

.chart {
  width: 900px;
  height: 500px;
}
